DB_USER = 'usuario db'
DB_PASSWORD = 'contraseña db'
DB_HOST = 'host de la db'
DB_PORT = 'puerto db'
DB_NAME = 'nombre de la db'

# Configuración de Archivos Batch
CARPETA_DATOS_COBOL='ruta archivos generados'

# Configuración de Correo 
MAIL_USERNAME=email
MAIL_PASSWORD=contraseña de aplicacion
MAIL_FROM=tu_email
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

# Clave secreta para generar el token seguro
SECRET_KEY=tu_clave_secreta